/*@font-face {
  font-family: 'Pangram';
  src: url('/assets/Pangram-ExtraLight.otf');
}

@font-face {
  font-family: 'Pangram2';
  src: url('/assets/Pangram-Regular.otf');
}*/

body {
  /*font-family: 'Pangram';*/
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}


#navBar {
  text-align: right;
  margin-top: 3%;
  margin-bottom: 4%;
  margin-right: 2%;
}

.navbar-link {
  padding-right: 2%;
  text-decoration: none;
  color: black;
}

#username {
  font-size: 25px;
}

#index {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.post {
 float: left;
 width: 22%;
 padding-left: 1.5%;
 padding-right: 1.5%;
 padding-top: 2%;
 padding-bottom: 2%;
}

.info {
  display: block;
  text-align: left;
}

i {
 padding-left: 8px;
 padding-right: 5px;
}

.icons {
 float: right;
}

.image{
  width: 100%;
  height: 100%;
}

.imgr {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.title {
  font-weight: bold;
}

#spacing {
 padding-top: 35%;
}

.border {
 border-bottom: 2px solid;
 width: 85%;
 margin-bottom: 3%;
 margin-left: auto;
 margin-right: auto;
 color: #E1E3E4;
}

#show {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#container1 {
  float: left;
  margin-right: 3%;
}

#container2{
  float: left;
  width: 40%;
  height: 100%;
  margin-top: 60px;
}

.click {
  text-decoration: none!important;
  color: white;
}

.time {
  display: inline;
}

.username {
  display: inline;
  color: orange;
}

#comments {
  font-size: 20px;
}

.line {
  border-bottom: 1px solid;
  margin-top: 1%;
  color: #E1E3E4;
}

.line2 {
  margin-bottom: 2%;
}

.comment {
  color: grey;
}

#createComment {
  margin-top: 5%;
}

.options {
  text-decoration: none!important;
  color: red;
}
